
/* site variables*/
#product{
    color: #78BEFF;
}
#primary.button{
    background-color: #78BEFF !important; 
    font-size: 1.25em;
    width: 8em;
    height: 3em;   
}
#primary.button.basic{
       stroke: solid;
       color:#78BEFF !important;
       background-color: transparent  !important;
       box-shadow: 0 0 0 1px #78BEFF inset !important;
       border-color: #eeeeee !important;
}

/* Custom CSS */
#home{    position: relative;
    min-height: 100vh;
    height: auto;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
}

#home3{    position: relative;
    min-height: 100vh;
    height: auto;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
}
#home2{    position: relative;
    min-height: 100vh;
    height: auto;
    z-index: 2;
    background: url('../images/work_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.group{     float: right;     margin-top: 15px; } #navbar .logo{
left: -2.25em;     min-width: 180px; } nav{     transition-duration:
0.5s;     padding-top: 20px;     overflow: hidden;     display: flex;
align-items: center;     background-color transparent;     z-index:
20; } nav li{     display: inline; } nav a{     font-family: Noto
Sans;     font-style: normal;     font-weight: normal;     line-
height: normal;     font-size: .8em;     color: #333333 !important; }

#navbar{
    z-index: 20 !important;
}
#navbar .container{
    width: 85vw;
}
.sticky{
    background-color: white;
    position: fixed;
    z-index: 20 !important;
    top: 0;
    padding-top: .2em;
    padding-bottom: .5em;
    width: 100%;
}
.home{
    margin-right: 2.25em !important;
}
.resume{
    margin-right: 1.025em !important;
    margin-left: 2.425em !important;
}
.content{
    margin: 16px;
}
.section{
    height: 80vh;
}

.circle_image img{
    width: 36vw;
    min-width: 180px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 2rem;
    display: none; 
}
/* home section */
.main{
    left: 0;
    right: 0;
    position: absolute;
    /* bottom: 14rem; */
    text-align: center;
    text-align: center;
    font-family: Noto Sans;
    font-size: 1em;
    text-align: center;
    line-height: 1.3125rem;
    color: #222222;
    max-width: 52.5em;
    font-style: normal;
    /* overflow: hidden; */
    margin: auto;
    top: 35vh;
    width: 85vw;
    /* top: 9.25rem; */

}

.main .header{
    height: 2.875rem;
    font-weight: bold;
    font-size: 2.75em;
    margin: 0 auto;
}
.main .desc{
    /* A growing Product and Experience designer, fueled and driven by real world challenges with a passion of finding smart solutions to some difficult design problems. */




    font-weight: normal;
    line-height: 1.5em;
    font-size: 1.5em;
    letter-spacing: 0.02em;
    color: #aaaaaa;
    width: 100%;
    height: 7.875rem;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 12vh;
}

#icon{
    margin: auto;
    margin-left: 2rem;
    margin-top:.6rem;
    height: 1.8rem;
}
#button a{
    float: left;
}
.heading{
    font-family: Noto Sans;
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #222222;
}
.heading2{
    font-family: Noto Sans;
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #222222;
}
.subheading{
    font-family: Noto Sans;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #222222;
}
#dribble{
    width:20%;
}
/* Mouse Scroller */
.scroll-downs {
    position: absolute;
    top: 16vh;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    width :34px;
    height: 55px;
  }
  .mousey {
    width: .5px;
    padding: 10px 13px;
    height: 21px;
    border: 2px solid #222222;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    margin-left: -1.1px;
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #222222;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
/* WORK PART SLIDERS */
#work{
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 1.125rem;
    margin-top: 1.25rem;
    color: rgba(0, 0, 0, 0.7);
}
a{
    color: #333;
}
a:hover{
    color: #333;
}
#work .section{
    width: 100vw;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#work .section:nth-child(odd){
    background: url('../images/odd.svg');
    background-repeat: no-repeat;
    background-size: cover;

}
#work .section:nth-child(even){
    background: url('../images/even.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
#work .container{
    margin-top: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 61.75rem;
    height: 21.8125rem;
    width: 85%;
    max-height: 349px;
}
#work .description{
    width: 24.3125rem;
    height: 21.8125rem;
    max-width: 389px;
    max-height: 349px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 
}
#work .description .header{
    text-align: left;
    margin-top: 0.5em;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 2.5rem;
    font-size: 1.75rem;
    color: #222222;
    margin-bottom: 0.3125rem;
}
#work .description .sub-header{
    font-family: Noto Sans;
    font-style: normal;
    text-align: left;
    font-weight: bold;
    line-height: 1.8125rem;
    font-size: 1.25rem;    
    color: #999999;
    margin-bottom: 1.625rem;
}
#work .description a{
    text-align: left;
    
}
#work .description .desc{
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 1.375rem;
    font-size: 0.875rem;
    color: rgba(17, 17, 17, 0.4);
    margin-bottom: 3rem;
}
#work .description button{
    border: 1px solid #78BEFF;
    box-sizing: border-box;
    border-radius: 3px;
    background: transparent;
    width: 13.6875rem;
    height: 3.0625rem;
    max-width: 219px;
    max-height: 49px;
}
#work .description .odd-button{
    font-family: Noto Sans;
    font-style: normal;
    width: 100%;
    font-weight: normal;
    line-height: 1.3125rem;
    font-size: 0.875rem;
    text-align: center;
    color: #78BEFF;
}
#work .description .even-button{
    font-family: Noto Sans;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3125rem;
    font-size: 0.875rem;
    text-align: center;
    background-color: #78BEFF;
    color: white;
    cursor: pointer;
}
#work image{
    position: absolute;
    left: -8em;
}
#work img{
    width: 100%;
    max-height: 346px;
    max-width: 520px;
}
/* Contact Part */
#contact{
    margin-top: 0em;
    padding: 0;
    
    height: auto;
    position: relative;
    background: url('../images/contact_dark.svg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#contact .contactheader{
    padding-top: 40vh;
    margin: 0 auto;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 2.75rem;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    width: 100vw;
}
#contact .contactdesc{
    font-weight: normal;
    text-align: center;
    margin: 0 auto;
    margin-top: 2.5em; 
    width: 50vw;
    font-size: 1.5rem;
    line-height: 2.4375rem;
    color: #ffffff;
    opacity: 0.5;
}
#footer .contactemail a{
    color: #ffffff !important;

}
#footer .contactemail{
    padding-top: 5vh;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    color: #ffffff !important;

}
.contactemail img{
    width: 2rem;
    margin-right: .8em;
    letter-spacing: .02em;
    vertical-align: middle;
}
.grey{
    margin-top: 2rem;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 2.4375rem;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 0.02em;

    color: #AAAAAA;

}
.dribble-link a{
    margin-top: 0em;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 2.4375rem;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 0.02em;

    color: #78BEFF;
}
.line{
    width: 31.875rem;
    opacity: 0.3;
    border: 1px solid #ffffff;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin: 0 auto;
    margin-top: 3rem;
}

.burger {
    margin-top: .4em;
    float: right;
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 2.4rem;
    height: .32rem;
    background-color: #333;
    margin: .36rem 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, .36rem);
    transform: rotate(-45deg) translate(-9px, .36rem);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -.36rem);
    transform: rotate(45deg) translate(-9px, -.36rem);
}

/*Footer*/
#footer{
    width: 100vw;
    height: 22rem;
    text-align: center;
    position: relative;
    background: #78BEFF;
}
#footer .icons{
    position: absolute;
    top: 10rem;
    left: 50vw;
    min-width: 20.5rem;
    margin: auto;
    margin-left: -10.25rem;
    height: 1.375rem;
}
#footer .icons .icon{
    width: 1.375rem;
    height: 1.375rem;
    color: #78BEFF;
}
#footer .icons .right{
    margin: 0 5rem;
}

.line{
    width: 31.875rem;
    opacity: 0.3;
    border: 1px solid white;
    transform: matrix(1, 0, 0, 1, 0, 0);
   
}

#dribble{
    width: 33%;
}
#medium{
    width: 33%;
}
#linkedin{
    width: 33%;
}

.parent{
    width: 85vw;
    max-width: 1100px;
    margin: auto;

}
#text{
    width: 65%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: auto;
    margin-top: 1rem;
    color: #666666;
    font-family: 'pt-serif';

}

table {
    font-family: Noto Sans;
} 
#article_heading{
    width: 65%;
    font-family: Noto Sans;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin: auto;
    margin-top: .1rem;
    margin-left: 1.2rem   ;
    color: #666666;

}
#text2{
    width: 65%;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 5rem;
    color: #666666;

}

#nav_btn{ 
display: none;
float: right; 
padding: 1.25rem;
padding-right: 0;
cursor: pointer; 
}
#nav_btn span, #nav_btn span::before, #nav_btn span::after{ 
width: 28px; 
height: 4px; 
float: left; 
display: block; 
background: #000; 
position: relative; 
text-indent: -9000px; 
}
#nav_btn span{ margin: 8px 0; }
#nav_btn span::before, #nav_btn span::after{ 
content: ''; 
position: absolute;
}
#nav_btn span::before{ top: -8px; }
#nav_btn span::after{ bottom: -8px; } 

.contactheader{
    margin-top: 2rem;
}

@media screen and (max-device-width: 840px)
{   
    .burger{
        display: inline-block;
    }
   #nav_btn{
        display: block;
    }
    .group{
        display: none;
    }
}
@media screen and (max-device-width: 500px)
{   k{}
.circle_image img{
    display: block;
}
.article_image{
    margin:1rem !important;
}
#article_heading{
    font-size: 1.25rem;
    margin-left: .4rem;
    width: 100%;
}
#cover2 img{
    width: 80vw !important;
}
.subheading{
    font-size: 1rem;
}
#text ul{
    padding-inline-start: 1rem;
}
#cover4{
    width: 100vw;
    overflow: scroll;
}
#cover4 img{
    width: 72rem !important; 
}
#text{
    width: 96%;
    font-size: 1.1rem;
}
#cover img{
    width: 86vw !important;
    margin-top: 1rem !important;
}
.heading2{
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.heading{
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.contactemail a img{
    display: none;
}
.contactemail a{
    font-size: 1.2rem;
}

.hide{
    display: none;
}
.scroll-downs{
    display: block;
}
.mousey{
    border-radius: 4px;
}
.scroller{
    margin-left: -2.5px;
    width: 5px;
    height: 7px;
    border-radius: 25%;
    background-color: #222222;
    animation-name: scroll;
    /* transform: rotate(90deg); */
    animation-duration: 1.2s;
    /* transform: rotate(90deg); */
    animation-timing-function: cubic-bezier(0.68, 0.04, 1, 1);
    animation-direction: reverse;
    animation-iteration-count: infinite;
    /* -webkit-transform: rotate(-45deg) translate(-9px, .36rem); */
    /* transform: rotate(90deg); */
}

#work{
    margin-bottom: 2rem;
}
.burger{
        display: inline-block;
    }
    #footer .contactemail {
        
    }
    .line{
        width: 50vw;
    }
    #work .description .desc {margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.6rem;    
    }
    #contact .contactdesc{
        width: 75vw;
        font-size: 1.25rem;

    }
    #work .section{display: block;}

    .group{
        display: none;
    }
    #nav_btn{
        display: block;
    }
    #work .container{
        display: block;
        margin: auto;
    } 
    #work .section{
        min-height: 98vh;
        height: auto;
        overflow: -webkit-paged-y;
    }

    #HI{
        text-align: center;
    }
    .image{
        float: left;
        width: 100%;
        margin-top: 4em;
    }
    #work .section:nth-child(odd) {
    background: url(../images/bg1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    #work .section:nth-child(even) {
    background: url(../images/bg2.svg);
    background-repeat: no-repeat;
    background-size: cover;}
    #work .description{
        height: auto;
        width: 85%;
        float: left;
        margin-left: 2rem;
    }
    #contact{
    background: url(../images/dark2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    }
        #navbar .logo {
        width: 50%;
        margin-top: 0;
        left: -1.25em;
    }

    .main .header{
        font-size: 2rem;
    }
    .main .desc{
        margin-bottom: 10rem;
        font-size: 1.36rem;
    }
    

    #contact .contactheader{
        padding-top: 23vh;
        margin-top: 0;
        position: relative;
        top: 0;
    }
    #home{
    background: url(../images/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    }
}




li{
    margin: .75rem;
}

#cover {
    text-align: center;
}
#cover2 {
    text-align: center;
}
#cover img{
    text-align: center;
    margin: auto;
    margin-top: .5rem;
    width:72vw;
    max-width:1100px;
    overflow: hidden;
}
#cover2 img{
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    width:40vw;
    overflow: hidden;
}
#cover5{
    position: inline;
}
#cover5 #img{
    float: left;
    margin-top: 2rem;
    width:34vw;
    max-width: 490px;
    margin-right: 1rem;
    overflow: hidden;
}
#cover5 img{
    width:34vw;
    max-width: 490px;
    
}

#cover3{
    text-align: center;
}
#cover3 img{
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    width:40vw;
    display: inline;
    overflow: hidden;
}
#cover4{
    text-align: center;
}
#cover4 img{
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    width:100vw;
    overflow: hidden;
}
hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #eeeeee;
}

#branding2 img{
    display:inline;
    width: 25% !important;
    margin-top: 0 !important;;
}
.article:hover {
    opacity: 1;

}
.center {
    margin:auto;
}
.article {
    display: inline-flex;
    width: 48%;
    transition: 0.2s;
    cursor: pointer;
    opacity: .8;
}
.article img{
    width: 100%;
}
.article_heading{
    font-size: 1.75rem;
    font-color: #222;

}
.article_image{
    margin:2rem;
}

#thanks{
    display: block;
    margin: auto;
    margin-top: 3rem;
    width: 25%;
}
.float {
position: fixed;
float: left;
margin-left: -2.1rem;
transition: all 0.2s ease-in 0s;//this is the key attribute
z-index: 9999;
cursor: pointer;
}


#footer .contactemail img{
    width: 1.8rem;
}
.center{
    margin-left:auto;
    margin-right:auto;
    margin-top: 2em;
    width:100px;
}
b{
    color: #333333;
}
.ui.small.table{
    font-size: .8em;
}
}

  


        
.menu {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 46px;
  width: 46px;
}

.menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.hamburger-icon {
  position: absolute;
  width: 20px;
  height: 14px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
}

.hamburger-bar {
  background-color: #ffffff;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.25s ease-in-out;
}

.hamburger-bar-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}

.hamburger-bar-3 {
  bottom: 0;
}

.menu.open .hamburger-bar-1 {
  transform: translateY(7px) translateY(-50%) rotate(45deg);
}

.menu.open .hamburger-bar-2 {
  opacity: 0;
}

.menu.open .hamburger-bar-3 {
  transform: translateY(-7px) translateY(50%) rotate(-45deg);
}

.overlay {
  background-color: #000000;
  color: #fffff;
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.open {
    background-color: #000000;
  color: #fffff;
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: .9;
  visibility: visible;
}

.open .link{
    font-style: Noto Sans;
    font-size: 1.5rem;
    text-align: center;
    opacity: 90%;
    padding: 5vh;
    color: #ffffff;
}

.open .link a{
    color: #ffffff;
    opacity: 80%
}

.open .link a:hover{
    opacity: 100%;
}



